<!DOCTYPE html>
<html>
  <head>
    <title>MyBaseCamp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%# Allow full-width for home page (hero section) %>
    <% if controller.controller_name == 'home' && controller.action_name == 'index' %>
      <%= yield %>
    <% else %>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
