<h1>Admin Dashboard – User Management</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Admin?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= user.admin? ? "Yes" : "No" %></td>
        <td>
          <%= link_to "Edit", edit_admin_user_path(user), class: "btn btn-sm btn-secondary" %>
          <%= button_to "Delete", admin_user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
